
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: aqua;
   padding-top: 1rem;
}
.container {
    height: 100vh;
    width: 60%;
    background-color: black;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    /* padding: 1rem; */
}
img {
    height: 60%;
    width: 100%;
}
 
