.main {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    /* justify-content: center;
    align-items: center; */

}
.position {
    border-radius: 50%;
    background-color: blue;
    width: 60px;
    height: 60px;
    position: absolute;
    /* top: 100px;
    left: 100px; */
    
}
