<% include("/Incliude/_header.ejs") %>
<h1>THIS TABLE</h1>
<button>Add User</button>
<table>
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Class</th>
        <th>Adjust Data</th>
    </thead>
    <tbody>
        <td>Sola</td>
        <td>15</td>
        <td>ss1</td>
        <td>
            <button>Edit</button>
            <button>Delete</button>
        </td>
    </tbody>
</table>
<% include("/Incliude/_footer.ejs") %>                                                                                                                                                                                                                                                              