/* *{
    color: blue;
} */
/* h1{
    color: indigo;
} */
/* #heading3{
    font-size: 16px;
} */
/* .heading{
    background-coloeadr: brown;
} */
/* h1,h2,p{
    background-color: green;
}
.heading{
    background-color: red;
} */
/* div p{
    background-color: yellow;
}
body p{
    background-color: blue;
} */
/* body div p{
    background-color: blue;
} */
p{
    ;
}