    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    /* height: 500vh; */
    background-color: black;
    overflow-x: hidden;
    width: 100%;
}
.container {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../Images/background.jpg);
    /* height: 90vh; */
    border-bottom: 0.3rem solid grey;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1.7rem;
    
}
#signup {
    padding: 0.5rem 0.5rem;
    margin-right: 8rem;
    font-size: 1rem;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    width: 5rem;
    
}
.textwrapper {
    text-align: center;
    margin-top: 7rem;
    color: white;
    margin-bottom: 12rem;
}

.textwrapper h1 {
    font-size: 4rem;
    font-weight: 900;
}
header img {
    margin-left: 3rem;
    width: 13rem;
}


h3 {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 80;
}

#email {
    font-size: 1rem;
    padding: 1.1rem;
    width: 40rem;
    background-color: rgba(0, 0, 0, 0.40);
    border: 0.8px solid grey;
    color: white;
    
    
}
.button {
    margin-top: -0.8rem;
    margin-bottom: rem;
}
#getstarted {
    font-size: 1rem;
    padding: 1.2rem;
    width: 14rem;
    font-weight: 200;
    background-color: red;
    color: white;
    border: none;
    margin-left: 0.2rem;
    
}
.input {

    font-size: 1rem;
    border: 1px solid black;
}
#submit {
    background-color: red;
}
.one, .two, .four{
    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    border-bottom: 2px solid gray;
}
h1 {
    color: white;
    font-size: 2.5rem;
}
.one h2, .two h2, .three h2, .four h2{
    color: white;
    
}
.mobile, .kids {
    margin-left: -6rem;
}
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    border-bottom: 2px solid gray;
    padding: 5rem 0 5rem 0;
}
.five {
    border-bottom: 2px solid gray;
    /* height: 120vh; */
    
}
.five h1 {
    font-size: 2rem;
}
.lists {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-left: 10rem;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
a {
    color: white;
    margin-bottom: 5rem;
}
.buttonE {
    font-size: 1rem;
    padding: 4px 20px 4px 20px;
    border-radius: 5px;
    color: white;
    background-color: inherit;
}
h6 {
    color: white;
}
.Questions {
    color: white;
    margin-top: 0.5rem;
    padding: 0.5rem;

}
.five h1 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
#input {
    font-size: 1.8rem;
    text-align: left;
    width: 80%;
    background-color: rgb(37, 30, 30);
    padding: 20px 0;
    margin-left: 8.5rem;
    border: none;
    color: white;
    padding-left: 2rem;
    
}
.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
p {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}
@media only screen and  (max-width:1669px) {
    .textwrapper h1 {
        font-size: 4rem;
    }
    .textwrapper {
        padding-bottom: 7rem;
    }
    .textwrapper h3 {
        font-size: 2rem;
        /* padding-top: 0.7rem; */
    }
    .p p {
        font-size: 2rem;
        /* padding-top: 0.7rem; */
    }
    #email {
        width: 40rem;
    }
    #getstarted {
        width: 14rem;
    }
    .button {
        margin-top: 1rem;
    }

}
@media only screen and (max-width: 1280px) {
    .two {
        padding-right: 3rem;
    }
}
@media only screen and (max-width: 1024px){
    h1 {
        font-size: 2rem;
        font-weight: 900;
    }
    h3 {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 80;
    }
    h5 {
        margin-top: 0.5rem;
        font-size: 1rem;
        font-weight: 100;
    }
    #input {
        font-size: 1.8rem;
        text-align: left;
        width: 80%;
        background-color: rgb(37, 30, 30);
        padding: 20px 0;
        margin-left: 6rem;
        border: none;
        color: white;
        padding-left: 2rem;
    }
    header img {
        margin-left: 1.5rem;
        width: 10rem;
    }
    .one {
        padding-left: 3rem;
    }
    #signup {
        margin-right: 2rem;
    }
    header {
        padding-top: 1.5rem;
    }
    .four {
        padding-right: 3rem;
    }

}
@media only screen and  (max-width:991px){
    .two, .four {
        padding-right: 2rem;
    }
    .one,  .four{
        /* height: 80vh; */
        flex-direction: column;
        text-align: center;
        
    }
    .two {
        flex-direction: column-reverse;
        text-align: center;
    }
    .one img, .two img, .three img {
        width: 20rem;
    }
    .mobile, .kids {
        width: 100%;
        margin-right: -9rem;
        
    }
    h5 {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 100;
        margin-bottom: 2rem;
    }
    .one, .two, .four{
        padding: 2rem 0 2rem 0;
    }
}
@media only screen and  (max-width:654px) {
    #email {
            margin-left: -5rem;
    }
    /* #getstarted {
       margin-left: auto;
       margin-right: auto;
    
    }
    .button {
        margin-left: auto;
        margin-right: auto;  
    } */
    
}

@media only screen and  (max-width:374px) {
    .textwrapper h1 {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media only screen and  (max-width:768px){
 p{
    text-align: center;
    margin-bottom: 0.5rem;
 }
 .textwrapper h5 {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 600;
}
h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 80;
}
h5 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 100;
}

#input {
    margin-left: 5rem;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
    
}

.textwrapper {
    text-align: center;
    margin-top: 6rem;
    color: white;
    margin-bottom: 4rem;
}
}

@media only screen and  (max-width:480px) {
    .container, .one, .two, .three, .four {
        margin-right: -3.5rem;
    } 
    header img {
        margin-left: 1.5rem;
        width: 8rem;
    }
    #signup {
        padding: 0.5rem 0.5rem;
        margin-right: 1.5rem;
        font-size: 1rem;
        background-color: red;
        color: white;
        border-radius: 5px;
        border: none;
        width: 5rem;
        
    }
    header {
        margin-top: -0.2rem;
    }
    .textwrapper {
        margin-top: 5rem;
    }
    #getstarted {
        margin-top: 1rem;
    }
    
    .two, .four {
        padding-right: 3rem;
    }
    #input {
        font-size: 1rem;
        text-align: left;
        width: 80%;
        background-color: rgb(37, 30, 30);
        padding: 20px 0;
        margin-left: 1rem;
        border: none;
        color: white;
        padding-left: 2rem;
    }
    .five, h1 {
        text-align: center;
        font-size: 1rem;
    }
    /* .five {
        margin-right: -3.5rem ;
    } */
    .links {
        display: grid;
        grid-template-columns: 1fr;
    }
    .lists {
        margin-left: 2rem;
    }
    .lists {
        font-size: 1rem;
    }
    h1 {
    font-size: 2rem;
    font-weight: 600;
    }

    h3 {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 0;
    }
}
@media only screen and  (max-width:520px) {
    .watch p {
        text-align: center;
    }
}
@media only screen and  (max-width:412px) {
    .container, .one, .two, .three, .four, .five {
        margin-right: -14rem;
    } 
    .textwrapper h1 {
        font-size: 1rem;
        font-weight: 700;
    }
    .p p {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    header img {
        width: 9rem;
    }
}
@media only screen and  (max-width:390px) {
    .container, .one, .two, .three, .four {
        margin-right: -8rem;
    } 
    header img {
        margin-left: 1rem;
        width: 7rem;
    } 
    #signup {
        padding: 0.4rem 0.4rem;
        margin-right: 2.5rem;
        font-size: 1rem;
        background-color: red;
        color: white;
        border-radius: 5px;
        border: none;
        width: 5rem;
    }
    .p p {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .textwrapper{
        padding: 0 1.5rem 0 1.5rem;
        margin-bottom: 2rem;
    }
    .textwrapper h1 {
        font-size: 1.8rem;
        font-weight: 800;
        text-align: center;
    }
    .textwrapper h2 {
        font-size: 1.2rem;
        font-weight: 50;
    }
    h3 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    p {
        font-size: 1.5rem;
        margin-top: 1rem;
        
    }
    #email {
        font-size: 1rem;
        padding: 1.1rem;
        width: 20rem;
        background-color: rgba(0, 0, 0, 0.40);
        border: 0.8px solid grey;
        color: white;
    }
    .five h1 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 0.2rem;
        margin-left: 3.5rem;
        font-size: 1.5rem;
    }
    /* .five {
        margin-right: -8rem;
    } */
    #input {
        font-size: 1rem;
        text-align: left;
        width: 80%;
        background-color: rgb(37, 30, 30);
        padding: 20px 0;
        border: none;
        color: white;
        padding-left: 1rem;
    }
    .watch {
        margin-top: -0.5rem;
        padding: 0 2rem 0 2rem;
    }
    .watch div p {
        margin-bottom: -2rem;
        font-size: 1rem;
    }
    .watch .button {
        margin-top: 1.5rem;
        margin-right: -2rem;
    }
    }
    @media only screen and  (max-width:667px) {
        .textwrapper h1 {
            font-size: 2rem;
        }
        .p p {
            font-size: 1rem;
        }
        .button {
            display: grid;
            grid-template-rows: 1fr 1fr;
            margin-left: 6rem;
        }
        #email {
            margin-bottom: 1rem;
        }
        #getstarted {
            font-size: 1rem;
            padding-top: -0.8rem;
            padding-bottom: -0.8rem;
            width: 10rem;
            font-weight: 200;
            background-color: red;
            color: white;
            border: none;
            margin-left: 9rem;

        }
        
    }
    @media only screen and  (max-width:280px){
     .container, .one, .two, .three, .four, .five {
            margin-right: -20rem;
        }  
        header img {
            /* margin-left: 3rem; */
         */
        }
        #signup {
            width: 4rem;
        }
    }
    @media only screen and  (max-width:730px){
        .links {
            display: grid;
            grid-template-columns: 1fr;
        }
        .lists {
            margin-left: 2rem;
        }
        .lists {
            font-size: 1rem;
        }
    }
    @media only screen and  (max-width:731px) {
        #getstarted{
            margin-top: 1rem;
        }

        .watch .button {
            padding-left: 4rem;
            padding-right: 4rem;
        
        }
        .watch #getstarted {
            margin-left: 13rem;
        }
    }
    @media only screen and  (max-width:654px) {
        #getstarted {
            margin-top: 0.8rem;
        }
        .textwrapper h1{
            font-size: 2rem;
        }
        .textwrapper h3 {
            font-size: 1rem;
        }
        .p p {
            font-size: 1rem;
        }
        #email {
            width: 27rem;
        }
        .button {
            padding: 0 5rem 0 5rem;
        }
        #input {
            font-size: 1rem;
        }
        .Questions {
            margin-left: -2.5rem;
        }
        .watch .button {
            text-align: center;
        }
    
    }
    @media only screen and  (max-width:587px) {
        header img {
            width: 9rem;
        }
        #signup {
            width: 4rem;
        }
        .two, .four {
            padding: 3rem 4rem 3rem 4rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: 0;
        }
    }
    @media only screen and  (max-width:360px) {
        .container, .one, .two, .three, .four, .five {
            margin-right: -20rem;
        } 
        .watch .button {
            padding-top: 3rem;
        }


    }
    @media only screen and  (max-width:470px) {
        #email {
            width: 20rem;
        }
        #getstarted {
            width: 8rem;
        }
        .watch p {
            padding-left: 2rem;
        }
        .five h1 {
            font-size: 1.5rem;
        }
    }
    @media only screen and  (max-width:758px){
        .textwrapper h1{
            font-size: 2rem;
        }
        .textwrapper h3 {
            font-size: 1.5rem;
        }
        .p p {
            font-size: 1.5rem;
        }
        #getstarted {
            margin-top: 1rem;
        }
        .textwrapper {
            margin-bottom: 2rem;
        }

    }


